<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC0-YdEmMH5GwSWB4EFP02rbHDahLeaeo0</string>
	<key>GCM_SENDER_ID</key>
	<string>288573191873</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rct.ap</string>
	<key>PROJECT_ID</key>
	<string>rct-app-88887</string>
	<key>STORAGE_BUCKET</key>
	<string>rct-app-88887.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288573191873:ios:45bd4241db7e1d83a2c640</string>
</dict>
</plist>